html, body{

    height: 100%;
}

/* Menu */
#menu{width:100%;height:100%;}

#map_content{width:1920px;height:1080px;}
#floor_btngroup{width:100%;height:7%;}
#floor_btngroup .col button{width:5%;}

#map{ width:100%;height:100%;}
#map svg{border:2px solid black;}
